<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Feature is deleted</h1>
        <p>
            Working on the feature is done.
        </p>
        <p>
            The token of the feature is:-- <%= @feature.identity_token %>
        </p>
        <p>
            The name of the feature is:-- <%= @feature.title %>
        </p>
        <p>Have great day ahead !</p>
    </body>
</html>