<section class="container">
    <% provide(:title, "INDEX") %>
    <h1 class="font-weight-bold font-italic"> Project Management Tool </h1><br>
    <%= link_to "Welcome" , welcome_path , :class =>"btn btn-primary" %>
<section>