<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>A heartly thanks that you use our valuable Project Management Tool App, <%= @user.firstname %></h1>
        <p>
            You have successfully deleted your account,
            your email is: <%= @user.username %>.<br>
        </p>
        <p>Thank You, have a great day!</p>
    </body>
</html>