<div class="Communication box">
    <article>
        <%= comment.name%>
        <span class = "date">(<%= time_ago_in_words (comment.created_at) %>ago) </span>
        <p>
            <%= comment.body %>
        </p>
    </article>
</div>

