<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Project is created</h1>
        <p>
            This project is created just now
            your email is: <%= @user.username %>.<br>
        </p>
        To see that , just follow this link to login: <%= @url %>
        <p>Have great day ahead !</p>
    </body>
</html>