<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Project is deleted %></h1>
        <p>
            This project is deleted just now
            your email is: <%= @user.username %>.<br>
        </p>
        <p>Have great day ahead !</p>
    </body>
</html>