<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>A comment is added to the feature. %></h1>
        <p>
            The token to open the feature is:-- <%= @feature.identity_token %>
        </p>
        <p>
            The name of the token is:-- <%= @feature.title %>
        </p>
        <p>Have great day ahead !</p>
    </body>
</html>