<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Assigning feature %></h1>
        <p>
            You have to complete all those tasks as soon as possible.
            your email is: <%= @feature.mailId %>.<br>
        </p>
        <p>
            The token to open the feature is:-- <%= @feature.identity_token %>
        </p>
        <p>
            The name of the token is:-- <%= @feature.title %>
        </p>
        <p>Have great day ahead !</p>
    </body>
</html>