<br>
<section class="edit">
    <%= check_box_tag "feature[jobs_ids][]",job.id %>
    <%=job.taskname %><br>
    <%=job.description%><br>
    <%=link_to "Save", @feature , class: 'btn btn-primary custom' %>
</section>  

    
<hr>



