<%= render 'navbar' %>
<section class="container">
    <h2 class="text-center">DashBoard</h2> 
    
    <h4><%=pluralize(@user.projects.count,"Project")%></h4><br>
    <hr>
    <ol>
        <%= render @user.projects %>
    </ol>
</section>