<%=render 'features/navbar'%>
<div class = "view container">
    <h2>Feature Dashboard</h2><hr>
    <div class = "feature_list">
        <% @feature.each do |f| %>
            <%= f.title %>
        <% end %>    
    </div>       
</div>
