// Place all the styles related to the PasswordResets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.password_reset_new {
    margin-bottom: 374px;
}

.password_reset_new > span {
    font-weight: 600;
    font-size: 24px;
}

.password_reset_edit {
    margin-bottom: 340px;
}
