// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.custom {
    margin: 20px;
}

.welcome_section {
    background-color: #f0ffff;
    margin-top: 5%;
    padding-top: 40px;
}

.button {
    margin: 2% 0% 2% 45%;
}

.auth_section {
    background-color: #90ee90;
    margin-top: 5%;
    padding-top: 40px;
}
