// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.custom {
    margin: 20px;
}

.welcome_section {
    background-color: #f0ffff;
    margin-top: 80px;
    padding-top: 40px;
    margin-bottom: 70px;
}

.button {
    margin: 2% 0% 2% 45%;
}

.auth_section {
    background-color: #90ee90;
    margin-top: 5%;
    padding-top: 40px;
}

.space {
    margin-bottom: 20px;
}

.login_form {
    margin-bottom: 177px;
}

.article_section {
    margin-bottom: 165px;
}

.article_section > p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 2;
}

.index_page {
    margin-bottom: 480px;
}
