// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/.

.custom2 {
    margin: 20px;
}

.text {
    margin-top: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.picture_text > p {
    font-weight: 500;
    font-size: 20px;
}

.profile_picture {
    margin-left: 20px;
    position: relative;
    margin-top: 20px;
}

.picture_text {
    position: absolute;
    left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.sign_up_form {
    margin-bottom: 20px;
}

.space,
.space_edit {
    margin-bottom: 20px;
}

.search_feature_user {
    margin-bottom: 200px;
}

.form_user_edit {
    margin-bottom: 67px;
}
