<%=render 'navbar'%>
<section class="container">
    <h2>Searched Features</h2>
    <hr>

    <% @feature.each do |f| %>
        <%= f.title %><br>
        <%= f.description %><br>
        <%= link_to "Read more",f, method: :get %><br><br>
    <%end%>    
</section>